## Data Cleaning

In [1]:
# importing the libraries.

import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# importing the dataset
data=pd.read_csv(r"C:\Users\HP\Downloads\instagram_reach.csv-20240124T074643Z-001\instagram_reach.csv")

In [3]:
data

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30
...,...,...,...,...,...,...,...,...
95,8,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3 hours,31
96,9,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3 hours,42
97,10,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3 hours,10
98,11,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3 hours,222
99,12,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3 hours,109

In [4]:
# copying the data in new variable.
data_copy=data.copy()

In [5]:
# checking the info

data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   S.No               100 non-null    int64
 2   USERNAME           100 non-null    object
 3   Caption            94 non-null     object
 4   Followers          100 non-null    int64
 5   Hashtags           100 non-null    object
 6   Time since posted  100 non-null    object
 7   Likes              100 non-null    int64
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

In [6]:
# checking for the columns.
data_copy.columns

Index(['Unnamed: 0', 'S.No', 'USERNAME', 'Caption', 'Followers', 'Hashtags',
       'Time since posted', 'Likes'],
      dtype='object')

In [7]:
# droping the unecessary column from the dataset.
data_copy.drop(columns="Unnamed: 0",axis=1,inplace=True)

In [8]:
data_copy.head(2)

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23

In [9]:
# for username columns.
data_copy["USERNAME"].unique()

array(['mikequindazzi', 'drgorillapaints', 'aitrading_official',
       'opensourcedworkplace', 'crea.vision', 'be.masterly',
       'lenovoworkstations', 'kirellb', 'ethicsandai',
       'diworksolucionesdeti', 'databowl', 'edwisor_india', 'ubiqum',
       'artificialintelligence.a.i', 'ansonmccade', 'jennifercodes',
       'eligible.api', 'ale_borba', 'amjstaffing', 'writtorg',
       'superdatascience', 'xotivtechnologies', 'onthetopsearch',
       'data_enthusiast', 'programmer.io', 'coding.is.life', 'theminest_',
       'philosophercoin', 'greenhousegroup', 'neondistrictrpg',
       'blocsidesports', 'cryptocrackhead', 'gsmusicgroupllc',
       'iotatokennews', 'bitpainting', '_linda_smith567', 'litebit.eu',
       'meganbloemsma', 'ricmiqads', 'hollympeck', 'artificial_quotes',
       'interwall', 'entrancegmbh', 'usccareercenter', '_ehab.othman_',
       'anki7singh', 'mbnsolutions', 'triatebr', 'orcan_intel',
       'funnelaico', 'iamalexleyva', 'astrokpj', 'big.data.hush',
       'iamjunkbot', 'ivarski', 'roland.busch', 'oboteo.ai',
       'cris.nemeth', 'interplayofficial', 'alpha_mentor_', 'magnodc',
       'thebeautymindset', 'remi_ole', 'shine_my_idol', 'greg_turner44',
       'siansocial', 'meaningful_quotee', 'kamalalshehabi',
       'bitcoinebook', 'iamjaradwright', 'rare.planet', 'flornasweets',
       'lpsahil', 'vaultcolombia', 'anandvanjape', 'mrproductionmiami',
       'ah_studio_', 'illumensfragrance', 'applewantnews', 'pazrahn',
       'monde_informatique', 'eric_pond_designs', 'onlyonecoops',
       'brad_0611', 'inmemovement', 'the_ios_developer', 'swiatik',
       'caseyjmcclure', 'benasdzimidas', 'praveen_rangasubhe',
       'michaelgarza__', 'dvlp_search', 'ecom.space', 'lb3enterprises',
       'palmariusdev'], dtype=object)

In [10]:
data_copy["USERNAME"].nunique()

95

In [11]:
# Checking for the null values.
data_copy["USERNAME"].isnull().sum()

0

* There is no null values.

In [12]:
data_copy["USERNAME"].value_counts()

USERNAME
mikequindazzi           4
philosophercoin         2
opensourcedworkplace    2
thebeautymindset        1
iamjaradwright          1
                       ..
cryptocrackhead         1
blocsidesports          1
neondistrictrpg         1
greenhousegroup         1
palmariusdev            1
Name: count, Length: 95, dtype: int64

In [13]:
#for Followers columns.
data_copy["Followers"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 100 entries, 0 to 99
Series name: Followers
Non-Null Count  Dtype
--------------  -----
100 non-null    int64
dtypes: int64(1)
memory usage: 932.0 bytes

* The data in Followers columns is of integer type.

In [14]:
# checking for null values

data_copy["Followers"].isnull().sum()

0

* There is no null values present in it.

In [15]:
# checking the unique values.
data_copy["Followers"].unique()

array([1600,  880,  255,  340,  304, 1231,  259, 1433,   13,  450,  149,
       2232, 1061,  533, 2904,  971,  285,  520,   75, 2691,  966,  334,
       1041, 4496,  166, 1211,  265, 1618,  279,  828,   12,  894,  610,
        226, 1168,  835,  124,  193,  258,  105,  273,  914,  118,  122,
       1180, 3139, 3725,  935, 1766, 2277,  348,   87, 2785, 3448,  530,
       3147,  918,  145,   11,  577,   66,   89, 2014,  151, 2175,  371,
       1003, 1200,  383,  955, 2372,  740, 2573,  181,  631,  246,  460,
        140,  888,  845,   91,  361, 2455,  262, 1158, 1196,  863,  106,
        179,   49,  614,  182, 2039,  741], dtype=int64)

In [16]:
data_copy["Followers"].nunique()

94

* There are 94 unique values in it.

In [17]:
# checking for data which are less than 1000 followers.
data_copy[(data_copy["Followers"]<1000)]

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30
6,7,lenovoworkstations,Check it out – we’re walking across the 🌎’s fi...,259,.#Tech #virtualreality #IoT #Machinelearning,3 hours,35
...,...,...,...,...,...,...,...
94,18,praveen_rangasubhe,😂😂,49,#html #html5 #webdeveloper#websitedesign #html...,3 hours,24
95,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3 hours,31
96,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3 hours,42
97,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3 hours,10
99,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3 hours,109

* There are total 68 users with less than 1000 followers.

In [18]:
# for Hastags columns
# checking the information about it.
data_copy["Hashtags"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 100 entries, 0 to 99
Series name: Hashtags
Non-Null Count  Dtype
--------------  -----
100 non-null    object
dtypes: object(1)
memory usage: 932.0+ bytes

In [19]:
# checking for unique values.
data_copy["Hashtags"].nunique()

98

* There are 98 unique values present in it.

In [20]:
data_copy.head(3)

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25

* In Hashtags column we have (.) special character which has to be removed from it.

In [21]:
# removing the special character from it.
data_copy["Hashtags"]=data_copy["Hashtags"].str.replace(".","")

In [22]:
# cross checking the data.
data_copy.head(3)

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck #mac #macintosh#sayhello #apple #stevej...,2 hours,23
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25

In [23]:
# for Time since posted columns.

# checking the information.
data_copy["Time since posted"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 100 entries, 0 to 99
Series name: Time since posted
Non-Null Count  Dtype
--------------  -----
100 non-null    object
dtypes: object(1)
memory usage: 932.0+ bytes

In [24]:
# checking for null values.
data_copy["Time since posted"].isnull().sum()

0

* There is no null values in it.

In [25]:
# removing the hours from the Time since posted
data_copy["Time since posted"]=data_copy["Time since posted"]=data_copy["Time since posted"].str.replace("hours","")

In [26]:
data_copy

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11,139
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck #mac #macintosh#sayhello #apple #stevej...,2,23
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2,25
3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3,49
4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3,30
...,...,...,...,...,...,...,...
95,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3,31
96,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3,42
97,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3,10
98,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3,222
99,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3,109

In [27]:
# converting it into integer data type.
data_copy["Time since posted"].astype(int)

0     11
1      2
2      2
3      3
4      3
      ..
95     3
96     3
97     3
98     3
99     3
Name: Time since posted, Length: 100, dtype: int32

* converted string data type into integer data type.

In [28]:
# For likes columns.

# checking information of likes.
data_copy["Likes"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 100 entries, 0 to 99
Series name: Likes
Non-Null Count  Dtype
--------------  -----
100 non-null    int64
dtypes: int64(1)
memory usage: 932.0 bytes

In [29]:
# checking for null values.
data_copy["Likes"].isnull().sum()

0

* There is no null values in it.

In [30]:
data_copy["Likes"].nunique()

55

* There are total 55 unique values in it.

## Final Filtered data

In [31]:
data_copy

,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11,139
1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck #mac #macintosh#sayhello #apple #stevej...,2,23
2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2,25
3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3,49
4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3,30
...,...,...,...,...,...,...,...
95,19,michaelgarza__,"328 S. Wetherly Drive, Beverly Hills, CA 90212...",614,#beverlyhills #realestate#losangelesrealestate...,3,31
96,21,dvlp_search,Credit @tristankappel To find more dvlp follow...,450,#workspace #work #developer#development #devel...,3,42
97,22,ecom.space,We are coming up with the Best 21 Books that w...,182,#books #book #motivation #inspiration #life#bo...,3,10
98,24,lb3enterprises,We’re only paid to move dirt once. It’s not ju...,2039,#heavyequipment #underconstruction#dozer #real...,3,222
99,25,palmariusdev,Obtén tu tienda en línea ahora.,741,#marketing #programming#development #desarroll...,3,109